.hexagon {
  clip-path: polygon(0% 50%, 20% 7.15%, 80% 7.15%, 100% 50%, 80% 92.85%, 20% 92.85%);
  background:currentColor;
}
.avatar-image {
  align-items: stretch;
  object-fit: cover;
  justify-content: center;
  height: 40px;
  width: 40px;
  display: flex;
  overflow: hidden;
}
.avatar-image > img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  aspect-ratio: 1;
}
