#head {
    display: flex;
    flex-direction: row;
    background: var(--color-main);
    padding: 0 8px;
    align-items: center;
}

#head > img {
    height: 30px;
}

#header-separator {
    flex-grow: 2;
}

#logo-area {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
