.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /*background-color: #282c34;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-content {
  flex-grow: 1;
  padding: 25px 5vh;
}

.App-menu {
  overflow: auto;
  height: 100vh;
  position: fixed;
  left: 0;
}

.no-padding {
  padding: 0;
}
.ant-no-padding > .ant-collapse-header {
  padding: 0!important;
}
.ant-no-padding > .ant-collapse-content > .ant-collapse-content-box {
  padding: 0!important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
