#stellar_account {
    display: flex;
    flex-direction: row;

    border: 1px solid grey;

    padding: 1px;
    width: 60ch;
    scale: 1.2;
}
#stellar_account:focus-within {
    outline: 1px goldenrod solid;
    box-shadow: 0px 0px 4px 1px darkgoldenrod;
}

#stellar_account>input {
    /* use all the available space */
    flex-grow: 2;
    border: none;
}

#stellar_account>input:focus {
    /* removing the input focus blue box. Put this on the form if you like. */
    outline: none;
}

#stellar_account>button {
    border: none;
    background: url('freighter.png') center;
    background-size: contain;
    color: white;
}

.loadSpin{
     animation-name: spin;
     animation-timing-function: ease-in-out;
     animation-iteration-count: infinite;
     animation-duration: 1.8s;
     -webkit-animation-name: spin;
     -webkit-animation-timing-function: ease-in-out;
     -webkit-animation-iteration-count: infinite;
     -webkit-animation-duration: 1.8s;
}

@keyframes spin {
    from{
        transform: rotateY(0deg);
        moz-transform: rotateY(0deg);
        ms-transform: rotateY(0deg);
    }
    to{
        transform: rotateY(360deg);
        moz-transform: rotateY(360deg);
        ms-transform: rotateY(360deg);
    }
}
@-webkit-keyframes spin{
    from{-webkit-transform: rotateY(0deg);}
    to{-webkit-transform: rotateY(360deg);}
}

#claimable_balances{
    display: flex;
    flex-direction: column;
    margin-top: 12%;
    height: 50%;
}

#list_of_balances {
    min-width: 80ch;
}

.asset_definition {
    display: flex;
    flex-direction: row;
}
.asset_definition > div {

    display: flex;
    flex-direction: column;
}
.asset_definition > img {
    margin-right: 8px;
}
